.form-setting
{
	display: inline-block;
	width: calc(100% - 40px);
}

.btn-black
{
    color: white;
    background-color: black;
}

.btn-black:active , .btn-black:hover ,
.btn-black:focus , .btn-black:visited
{
	cursor: auto;
    color: white;
    background-color: #black;
}