body
{
    padding-top: 50px;
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}

.bg-1
{
    background: #2d2d30;
    color: #bdbdbd;
}

.row
{
	margin-left: 0px;
	margin-right: 0px;
}

.myclass
{
	width: 320px;
	height: 568px;
	background-color: white;
}


.myclass iframe
{
	width: 320px;
	height: 568px;
}

